{% extends "base.html" %}

<div class="container mt-5">

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
    <h2>Профиль</h2>
    <p><strong>Имя:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Подразделение:</strong> {{ researcher.department }}</p>
    <p><strong>Должность:</strong> {{ researcher.position }}</p>

    <!-- Display the KPI -->
    <h2><a href="{% url 'articles_list' %}">Список статей</a></h2>

    <p><strong>Число статей:</strong> {{ num_articles }}</p>

    <form action="{% url 'submit_article' %}" method="get">
        <div class="form-group">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary">Добавить статью</button>
        </div>
    </form>
</div>
</div>
{% endblock content %}

</div>